<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.Alevel">
        <activity
            android:name=".common.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".keyword.UserStyleActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".keyword.UserKeywordActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:parentActivityName=".login.StartActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".login.StartActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".mypage.ChangePwActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.MyAccountActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.ScrapActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.WrittenPostActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.WrittenCommentActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.SettingActivity"
            android:exported="false" />
        <activity
            android:name=".mypage.AddAlcoholActivity"
            android:exported="false" />
        <activity android:name=".allalcohol.AllAlcoholSearchActivity"/>
        <activity android:name=".common.AlcoholDetailActivity"/>
        <activity android:name=".feed.FeedDetailActivity"/>
        <activity
            android:theme="@style/Theme.Alevel.ActionBar"
            android:name=".common.AlcoholDetailWriteReviewActivity"/>
        <activity android:name=".feed.WriteFeedActivity"/>

    </application>

</manifest>